@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 300;
    flex: 1;
  }

  .ProductFilter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}
.filter-total {
  margin-top: 12px;
  display: flex;
  background: #f50057;
  /* padding: 7px 0px 7px 0px; */
  /* justify-content: center; */
  width: fit-content;
  border-radius: 7px;
  margin-left: 197px;
  margin-bottom: 7px;
  font-weight: bold;
  color: white;
}
/* .HeaderH1 {
  width: 0%;
  height: 64%;
  flex: 1 1;
  font-size: 35px;
  display: flex;
  justify-content: left;
  font-family: cursive;
  color: #050872;
  background: -webkit-linear-gradient(rgb(243, 8, 8), rgb(10, 10, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 11px 0px 0px 0px;
} */
.lableApp {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}
.ProductFilter {
  display: flex;
}

.sort {
  display: flex;
  align-self: flex-end;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}

.collection-sort:first-child {
  padding-right: 20px;
}

.container {
  max-width: 100%;
  border: 2px solid black;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  gap: 1em;
  grid-auto-rows: minmax(100, auto);
  grid-auto-rows: 50px;
}

.box1 {
  grid-column: 1/2;

  grid-row: 1/3;
}
.box2 {
  grid-column: 2/5;
}
.box3 {
  grid-column: 5/6;
  grid-row: 1/3;
}
.box4 {
  grid-column: 2/3;
}
.box5 {
  grid-column: 3/5;
}

@media (pointer: coarse) {
  .MuiSlider-root {
    padding: 20px 0;
    width: 35%;
  }
  .MuiSlider-root {
    width: 35%;
    top: 20px;
  }
}
