.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 16%;

  background-color: #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.productImage img {
  width: 100%;
}
.plusMinus {
  margin: 15px 10px 0px 22px;
}
.plus-button {
  border: 2px solid rgb(245, 212, 212);
  background-color: #fff;
  font-size: 18px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
}
.product-info .hh6::before {
  content: "$";
}
.minus-button {
  border: 2px solid rgb(245, 212, 212);
  background-color: #fff;
  font-size: 18px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .Products .product-card:first-child,
  .Products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
