li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.container1 {
  display: flex;
  justify-content: center;
}
.h1Percent {
  color: red;
  font-size: 130px;
}
.titlSale {
  background-color: "#ffd54f";
  display: "flex";
  justify-content: "center";
}
.blink_me {
  animation: blinker 1s linear infinite;
}
.h1Percent::after {
  content: "%";
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

li span {
  display: block;
  font-size: 4.5rem;
}
@media all and (max-width: 768px) {
  li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }

  li span {
    font-size: 3.375rem;
  }
}
