/* .container {
  margin-top: 12px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  gap: 1em;
  grid-auto-rows: minmax(100, auto);
  grid-auto-rows: 50px;
} */
.HeaderH1 {
  position: relative;
  left: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 54%;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  /* .HeaderH1 {
    margin-top: 5%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-left: 0%;
  } */
}
