.containerBox {
  display: grid;
  grid-template-columns: 9fr 3fr 3fr 3fr;
  grid-auto-rows: auto;
  /* background: linear-gradient(270deg, #f50132 14.3%, rgb(236 184 28) 1%); */
  color: black;
  background-color: white;
  border-bottom: 2px solid #ffffff;
}
.loginOutIn {
  direction: rtl;
}
.imageAdd {
  width: 150px;
  height: 150px;

  background-repeat: "no-repeat";

  background-image: url("");
}
.menuLogin {
}

@media screen and (max-width: 728px) {
  .menuLogin {
    display: none;
  }
}
