table,
td,
th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  vertical-align: middle;
  text-align: center;

  color: rgb(7, 6, 6);
  height: 55px;
}
td {
  text-align: center;
  height: 35px;
  vertical-align: middle;
}
.header-details {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.phone-details {
}
.button-details {
}
.name-user {
  width: 50%;
}
.details-user {
  display: flex;
  font-size: 35px;
  margin-top: 16px;
}
.name-user-h2 {
  margin-right: 30px;
  color: rgb(158, 152, 152);
}
